:root {
  --x: 50px;
  --y: 300px;
  --y2: 350px;
}
  
.square{
    height: var(--x);
    width: var(--x);
    background-image: url('empty.png');
    background-size: var(--x) , var(--x);
    position: absolute;
  }
  
  
.row{
    display: flex;
    position: absolute;
    z-index: 1;
  }

.buttons{
    background-color: red;
    height: var(--y);
    width: var(--x);
    position: relative;
    z-index: 2;
    opacity:0;
}

#boardInner{
  height: var(--x);
  width: var(--y2);
  margin: auto;
  position: relative;
}


